.actions
{
  display: flex;
  align-items: center;
  position: absolute;
  gap: 6.3px;
}

.close
{
  width: 9.4px;
  height: 9.4px;
  border-radius: 100%;
  background: #FF6059;
}

.backfull
{
  width: 9.4px;
  height: 9.4px;
  border-radius: 100%;
  background: #FFBC40;
}

.full
{
  width: 9.4px;
  height: 9.4px;
  border-radius: 100%;
  background: #17C84C;
}